@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #ffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffff;
    /* White background for light theme */
    --foreground: #000;
    /* Black text for light theme */
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

main {
  flex-grow: 1;
}

.main-all {
  padding-bottom: 1rem;
}

.footer {
  position: relative;
  margin-top: 0;
}

.text-wrapper {
  top: 15%;
}

.new-task {
  margin-top: 10%;
}

.greet-lonely {
  position: relative;
  margin-top: 15%;
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .new-task {
    margin-top: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .new-task {
    margin-top: 20%;
  }
  .greet-lonely {
    margin-top: 20%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .new-task {
    margin-top: 25%;
  }
  .greet-lonely {
    margin-top: 25%;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .new-task {
    margin-top: 40%;
  }
  .greet-lonely {
    margin-top: 45%;
  }
}

.card {
  height: 15vh;
  width: auto;
}

/* Dots */

/* .dots-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 70%;
  gap: 10px;
  width: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
} */
